<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SPECTRA: Solar Panel Evaluation</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='SPECTRA_icon.png') }}">
</head>

<body>
    <!-- Header -->
    <header class="header">
        <nav class="navbar" role="navigation" aria-label="main navigation">
            <div class="navbar-menu">
                <div class="navbar-start" style="flex-grow: 1; justify-content: center;">
                    <a class="navbar-item" href="main_page.html">
                        <span class="icon">
                            <i class="fas fa-home"></i>
                        </span>
                    </a>
                    <a class="navbar-item" href="index.html">
                        <span class="icon">
                            <i class="fas fa-flask"></i>
                        </span>
                    </a>
                </div>
            </div>
        </nav>
    </header>

    <!-- Content -->
    <main class="main-content">
        <section class="uploaded-images-section">
            <h2>Uploaded Images</h2>
            <div id="uploadedImages" class="uploaded-images">
                <!-- Uploaded images will be displayed here -->
            </div>
        </section>

        <section class="hero">
            <h2>Uploader</h2>
            <form enctype="multipart/form-data" method="POST" name="fileinfo">
                <label class="form-label">Upload your images:</label>
                <input class="form-control" type="file" name="file" class="" required multiple />
                <input type="submit" value="Classify!" />
            </form>
        </section>

        <section class="result-text">
            <h2>Results</h2>
            <div id="loader" class="lds-dual-ring"></div>
            <div id="results" class="grid-container">
                <!-- Placeholder for the results of image classification -->
            </div>
        </section>

        <section class="images">
            <div class="image-container">
                <img src="{{ url_for('static', filename='accuracy_plot.png') }}" alt="accuracy_plot">
                <img src="{{ url_for('static', filename='confusion_matrix.png') }}" alt="confusion_matrix">
                <img src="{{ url_for('static', filename='image_examples.png') }}" alt="image_examples">
                <img src="{{ url_for('static', filename='training_accuracy_loss.png') }}" alt="training_accuracy_loss">
                <img src="{{ url_for('static', filename='training_validation_loss.png') }}"alt="training_validation_loss">
            </div>
        </section>
    </main>

    <!-- Footer -->
    <footer class="footer">
        <p>&copy; SPECTRA Solar Panel Evaluation</p>
    </footer>

    <!-- JavaScript files -->
    <script src="../static/main.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script async defer src="https://buttons.github.io/buttons.js"></script>
</body>

</html>