<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SPECTRA: Solar Panel Evaluation</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css">
    <link rel="stylesheet" href="../static/style.css">
</head>

<body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
        <div class="navbar-menu">
            <div class="navbar-start" style="flex-grow: 1; justify-content: center;">
                <a class="navbar-item" href="index.html">
                    <span class="icon">
                        <i class="fas fa-home"></i>
                    </span>
                </a>
                <a class="navbar-item" href="upload.html">
                    <span class="icon">
                        <i class="fas fa-flask"></i>
                    </span>
                </a>
            </div>
        </div>
    </nav>
    <section class="uploaded-images-section">
        <h2>Uploaded Images</h2>
        <div id="uploadedImages" class="uploaded-images">
            <!-- Uploaded images will be displayed here -->
        </div>
    </section>

    <section class="hero">
        <!-- Description of the website/project -->
        <h2>Uploader</h2>
        <form enctype="multipart/form-data" method="POST" name="fileinfo">
            <label>Upload your images:</label>
            <input type="file" name="file" required multiple />
            <input type="submit" value="Classify!" />
        </form>
    </section>

    <section class="result-text">
        <h2>Results</h2>
        <div id="loader" class="lds-dual-ring"></div>
        <div id="results" class="grid-container">
            <!-- Placeholder for the results of image classification -->
        </div>
    </section>

    <!-- JavaScript files -->
    <script src="../static/upload.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script async defer src="https://buttons.github.io/buttons.js"></script>
</body>

</html>